<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css" media="screen">
        body {
            background-color: white;
            text-decoration-color: white;
            /* font-size: 7em; */
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="mainpage">
            <p class="logintext">Login</p>
            <div class="row">
                <div class="col-md-12">
                    <% if(typeof alert != 'undefined') { %>
                        <% alert.forEach(function(error) { %>
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <%= error.msg %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                        <% }) %>
                    <% } %>

                    <% if(Authentication!='undefined') { %>
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <%= Authentication %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                    <% } %>
                    <form id="loginform" action="/admin/login" method="post">
                        <div class="form-group">
                            <input type="text" id="user_email" name="useremail" placeholder="Enter Your Username" />
                        </div>
                        <div class="form-group">
                            <input type="password" id="user_password" name="password" placeholder="Enter Your Password" />
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/axios.min.js"></script>
    <script type="text/javascript" src="/assets/js/custom.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    

</body>

</html>